@import "admin-lte";
@import "select2";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";

label.required:before {
    content: "*";
    color: var(--danger);
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    float: left;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 1px;
    margin-left: 3px;
    font-weight: 700;
    color: #bdc6d0;
    border:none;
    background: none;
}
