@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'admin-lte';

.main-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-menu-left {
    grid-area: 1 / 1 / 2 / 2;
    width: 95%;
}
.main-menu-right {
    grid-area: 1 / 2 / 2 / 3;
    width: 95%;
}
